
<h1>Image Resizer utility</h1>
<em>Resizes images to 500px by 500px</em>
<div class="dropzone" appDnd (fileDropped)=onFileDropped($event)>
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
  <p>Drag and drop files here</p>
  <p>or</p>
  <label for="fileDropRef">Browse for file</label>
</div>
<div class="files-list">
  <div class="single-file" *ngFor="let file of files; let i = index">
    <div class="info" style="float: left; width: 200px; border: 1px solid black; padding: 5px;">
      <h4 class="name" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
        {{ file?.File?.name }}
      </h4>
      <p class="size">
        Size: {{ formatBytes(file?.File?.size) }} <br />
        {{ file?.width }}px by {{file?.height}}px
      </p>
      <img style="height: 150px; width: 150px; margin: 0 auto; display: block;" [src]="file?.preview" /><br />
      <a [href]="file?.preview" [download]="file?.File?.name">Save resized image</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

